PORT=5000
DATABASE_URL=
JWT_SECRET=
RESEND_API_KEY=
EMAIL_FROM=
FRONTEND_URL=http://localhost:8080
AI_GATEWAY_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NODE_ENV=development